.container {
  padding: 0 2rem;
  margin-top: 120px;
  margin-bottom: 40px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid gray;
  border-radius: 20px;
}


.content {
  margin-right: 80px;
  margin-left: 80px;
  padding: 20px 10px;
  max-height: inherit;
  text-align: center;
}

.pfp {
  max-width: 250px;
}

.main ul {
    text-align: start;
    font-size: 18px;
}


.stats_section {
  border: 5px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.stats_heading {
  margin-top: 40px;

   display: flex;
   justify-content: center;
  }

.tabs_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs {
    margin: 0 20px;
}

.tabs {
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
  background: rgba(159, 159, 159, 0.209);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}


.active_tab {
    background: rgb(234, 234, 234);
    background: rgb(129, 205, 255);
    color: black;
    border-bottom: 8px solid wheat;
}

.active_tab::before {
    content: '';
    display: block;
    position: absolute;
    top: -5;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
}

.content_tabs {
    display: flex;
    flex-grow: 1;
    border: 2px solid gray;

}

.tab1, .tab2, .tab3 {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.active_content {
  display: block;
}